<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD7TGfFz29Z7lojgnG2pN16NEm1wdasZ9o</string>
	<key>GCM_SENDER_ID</key>
	<string>456885719738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.counter.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>cliniccompass-9cf0c</string>
	<key>STORAGE_BUCKET</key>
	<string>cliniccompass-9cf0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456885719738:ios:ed32a853bbe273133ee883</string>
</dict>
</plist>